player-connection-mode=Listen
player-connection-guid=1624677811
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=192.168.112.1
player-connection-ip=192.168.200.1
player-connection-ip=192.168.56.1
player-connection-ip=169.254.83.107
player-connection-ip=192.168.1.246
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
build-guid=ccbdd510cb8f4df0b466b553a8e3c673
